.item1 { grid-area: title; }
.item2 { grid-area: newuser; }
.item3 { grid-area: checkin; }
.item4 { grid-area: lookup; }
.item5 { grid-area: hours; }
.item6 { grid-area: management; }

.grid-container {
  display: grid;
  grid-template-areas:
    'title title'
    'newuser newuser'
    'checkin lookup'
    'hours management';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
